:root {
    --colorFondo1: #ffffff;
    --colorFondo2: #f3f3f3;
    --colorFondo3: #bfc9cd;
    --colorFondo4: black;
  
    --colorBorde: #c5c5c5;
    --radioBorde: 6px;
    --anchoBorde: 1px;
  
    --colorTexto: #000000;
    --tamanoTexto: 16px;
    --fuenteTexto1: Sofia,sans-serif;
    --fuenteTexto2: Arial,sans-serif;

    --anchoArticulo: 18vw;
    --altoArticulo: 26vw;
    --altoSuperpuesto: 20vw;

    /* Combinación de dimensiones para el iframe, funciona al 50% */
    --anchoIframe:calc(var(--anchoArticulo)*3.3);
    --altoIframe:calc(var(--altoArticulo)*2.6);
    --zoomIframe:0.3;

    --imagenFondo: url(../media/images/codigo.jpg);
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--fuenteTexto2);
}

/* Barra superior*/
#aviso{
    background-color: var(--colorFondo4);
    color: white;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}
nav{
    background-color: var(--colorFondo1);
    border-bottom: var(--colorBorde) solid var(--anchoBorde);
    padding: 15px 18px;
    position: sticky;
    top: 0;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav>h2{
    display: inline-block;
    text-align: center;
    width: 100vw;
}


/* Pie de pagína */
body>footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: var(--colorFondo3);
    padding-top: 3em;
    padding-bottom: 3em;
    padding-left: 3em;
    padding-right: 3em;
}
body>footer>div:first-child{
    display: flex;
    margin-bottom: 1em;
    font-size: 2em;
}

