:root {
    --colorFondo1: #ffffff;
    --colorFondo2: #f3f3f3;
    --colorFondo3: #bfc9cd;
    --colorFondo4: black;
  
    --colorBorde: #c5c5c5;
    --radioBorde: 6px;
    --anchoBorde: 1px;
  
    --colorTexto: #000000;
    --tamanoTexto: 16px;
    --fuenteTexto1: Sofia,sans-serif;
    --fuenteTexto2: Arial,sans-serif;

    --anchoArticulo: 18vw;
    --altoArticulo: 26vw;
    --altoSuperpuesto: 20vw;

    /* Combinación de dimensiones para el iframe, funciona al 50% */
    --anchoIframe:calc(var(--anchoArticulo)*3.3);
    --altoIframe:calc(var(--altoArticulo)*2.6);
    --zoomIframe:0.3;

    --imagenFondo: url(../media/images/codigo.jpg);
}
*{
    padding: 0;
    margin: 0;
    font-family: var(--fuenteTexto2);
}
body{
    height: 100vh;
}

/* Barra superior*/
#aviso{
    background-color: var(--colorFondo4);
    color: white;
    text-align: center;
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 10px;
    text-transform: uppercase;
}
nav{
    background-color: var(--colorFondo1);
    border-bottom: var(--colorBorde) solid var(--anchoBorde);
    padding: 5px 18px;
    position: sticky;
    top: 0;
    z-index: 2000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav img{
    height: 40px;
}
nav>h2{
    display: inline-block;
    text-align: center;
    padding-top: 6px;
    width: 100vw;
}
.boton{
    position: relative;
    overflow: hidden;
    width: 150px;
    background-color: #c2bcb9;
    border: 1px solid #c2bcb9;
    border-radius: 10px;
    padding: 14px 14px;
    text-transform: uppercase;
    cursor: pointer;
    z-index: 2;
    /* transition: background-color 0s 0.5s; */
}
.boton span {
    position: relative; 
    z-index: 3; 
    color: black; 
    transition: color 0.5s ease;
    font-weight: bold;
}
.boton::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transition: width 0.5s ease, left 0.5s ease;
    z-index: 1;
}
.boton:hover::before{
    width: 100%;
    left: 0;
}
/* Contenido */
main{
    min-height: 75vh;
}
main>h1{
    text-align: center;
    margin: 10px;
}
main>h2{
    text-align: center;
    margin: 5px;
}

/* Pie de pagína */
body>footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    background-color: var(--colorFondo3);
    padding-top: 2em;
    padding-bottom: 2em;
    padding-left: 3em;
    padding-right: 3em;
}
body>footer>div:first-child{
    display: flex;
    margin-bottom: 0.5em;
    font-size: 2em;
}

